.header1 {
  clear: both;
  font-family: Ariel, Helvetica, sans-serif;
  color: white;
  height: 60px;
  line-height: 60px;
  width: 100%;
  border-style: none none solid none;
  border-color: white;
  }
.landmarks {
  float: left;
  background-color: Black;
  width: 90%;
  text-indent: 20px;
  font-size: 1.75em;
  font-weight: bold;
  }
.login {
  float: right;
  text-align: center;
  background-color: green;
  width:10%;
  }
.header2 {
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  background-color: navy blue;
  border-style: solid none solid none;
  border-color: white;
  border-width: thin;
  padding: 20px;
  word-spacing: 15em;
  font-family: Ariel, sans-serif;
  }
.container {
  position: relative;
  text-align: center;
  color: white;
  }
.top-left {
  position: absolute;
  top: 25px;
  left: 35px;
  font-family: Ariel, sans-serif;
  font-size: 30px;
  font-weight: 550px;
}
